/*general styles begin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a23fd5;
  --secondary-color: #e620b4;
  --tertiary-color: #5e5ef6;
  --background-color: #e2dadb;
}

body {
  font-size: 18px;
  line-height: 150%;
  color: var(--background-color);
  background-color: #333;
}
/*general styles end*/

/*header styles begin*/
header {
  background-image: url("../images/jumbo.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  color: var(--background-color);
  text-shadow: -1px -1px 1px rgba(230, 32, 180, .75), 1px -1px 1px rgba(230, 32, 180, .75), -1px 1px 1px rgba(230, 32, 180, .75), 1px 1px 1px rgba(230, 32, 180, .75);
  padding: 20px 25px;
  border-top: 5px solid #333;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #333;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 9999;
  top: 0;
}
/*rgba(226,218,219,.75) #eb6534*/
header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: n;
  font-size: 34px;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(94, 94, 246, .65);
  border-radius: 1px;
}

header a {
  text-decoration: none;
  color: var(--background-color);
}

header nav {
  margin-top: 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  gap: 10px 0px;
}

header nav ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 6vw; /*1.55vw*/
}

header nav ul li a:hover {
  text-shadow: 0 0 10px rgba(173, 93, 78, .75);
  border-radius: 15px;
  text-shadow: none;
}
/*header styles end*/

/*footer styles begin*/
footer {
  background-image: url("../images/jumbo.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  padding: 10px;
  border-top: 5px solid #333;
}

footer h2 {
  color: var(--background-color);
  text-shadow: -1px -1px 1px rgba(230, 32, 180, .75), 1px -1px 1px rgba(230, 32, 180, .75), -1px 1px 1px rgba(230, 32, 180, .75), 1px 1px 1px rgba(230, 32, 180, .75);
  font-size: 4vh;
  text-align: center;
}
/*footer styles end*/

/*jumbo styles begin*/
.jumbotron {
  background-image: url("../images/jumbo.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  border-bottom: 5px solid #333;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}

.jumbotron h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: var(--background-color);
  text-align: left;
  font-weight: normal;
  background: rgba(94, 94, 246, .5);
  padding: 5px 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/*jumbo styles end*/

/*container styles begin*/
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.port-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.port-section h2 {
  color: var(--background-color);
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(230, 32, 180, .75), 1px -1px 1px rgba(230, 32, 180, .75), -1px 1px 1px rgba(230, 32, 180, .75), 1px 1px 1px rgba(230, 32, 180, .75);
  background: rgba(162,63,215, .5);
  border-radius: 10px;
  text-align: center;
  width: 100vw;
  padding: 20px 0;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
}
/*container styles end*/

/*about-me styles begin*/
#about-me h3 {
  margin: 10px;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(94, 94, 246, .75), 1px -1px 1px rgba(94, 94, 246, .75), -1px 1px 1px rgba(94, 94, 246, .75), 1px 1px 1px rgba(94, 94, 246, .75);
}

#about-me p {
  margin: 10px;
  font-size: 5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 10px;
}
/*about-me styles end*/

/*projects styles begin*/

/* this organizes the sum cards */
.card-container {
  display: flex;
  /* this is a mobile style that will be overridden in media queries */
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

/* this organizes the individual cards */
.project-card {
  position: relative;
  max-width: 500px;
  margin: 1rem;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  z-index: 10;
}

.project-card img {
  object-fit: none;
  object-position: top left;
  width: 90vw;
  height: 50vh;
  display: block;
  border: 5px solid var(--tertiary-color);
  border-radius: 20px;
}

.project-card h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  width: 100%;
  font-size: 8vw;
  background: rgba(94, 94, 246, .75);
  margin-top: 60%;
  padding: 10px;
  color: #333;
}

.project-card::before {
  background: none;
  content: "";
  display: block;
  position: absolute;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: all .2s linear;
}

.project-card:hover::before {
  background: rgba(94, 94, 246, .25);
}

.project-card h3:hover {
  color: var(--background-color);
}
/*projects styles end*/

/*contact-me styles begin*/
#contact-me ul {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact-me ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: bold;
}

#contact-me ul li a:hover {
  color: var(--primary-color);
}

/*contact-me styles end*/

/*media queries*/

  
  

  






